body{
    padding-top: 50px;
    font-family: 'Oswald',sans-serif;
    background:linear-gradient(to right, #ef5acc,#dded63)
}

.title h1{
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 1.2;
}

.title h1 span{
    margin-top: 2px;
    font-size: 45px;
}

.introduce{
   margin-left: 200px;
   list-style: none;
}

.ganre{
    text-align: center;
    margin-bottom:60px;
}

.ganre li{
    display: inline-block;
    margin-right: 40px;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    list-style: none;
}

.ganre li:last-child{
    margin-right: 0px;
}

.button {
    background: rgb(143, 241, 118);
    color: #fff;
    padding: 0 2em;
    border: 0;
    width: 500px;
    height: 100px;
    font-size: 45px;
    border-radius: 5px;
    font-weight: 900;
    position: relative;
    left: 400px;
    top: 260px;
    font-family: serif;
    transform:translate(40px,300px)
  }
  .button:hover {
    background: lightcoral;
    cursor: pointer;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  @keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
  }
  .modal-header h1 {
    margin: 1rem 0;
  }
  .modal-header {
    background: rgb(231, 184, 224);
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
  }
  .modalClose {
    font-size: 2rem;
  }
  .modalClose:hover {
    cursor: pointer;
  }
  .modal-body {
    padding: 10px 20px;
    color: black;
  }



.mainImage{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.mainImage img{
    width: 100%;
    height: auto;
}

.actor,
.news{
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; 
}

.actor h2{
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.actor h2 span{
    font-size: 35px;
    border-bottom: 2px solid #000;
}

.actor h3{
    font-size: 25px;
    border-bottom: 2px solid #000;
}

.actor p{
    font-size: 15px;
    color: dimgrey;
    letter-spacing: 1px;
}


.actor ul{
    overflow: hidden;
}

.actor li{
    float: left;
    list-style: none;
    width: 32%;
    margin-right: 2%;  
}

.actor li:last-child{
    margin-right: 0;
}

.actor li img{ 
    width: 100%;
    height: auto;
}


.idol{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; 
}

.idol h2{
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.idol h2 span{
    font-size: 35px;
    border-bottom: 2px solid #000;
}

.idol h3{
    font-size: 25px;
    border-bottom: 2px solid #000;
}

.idol p{
    font-size: 15px;
    color: dimgrey;
    letter-spacing: 1px;
}

.idol ul{
    overflow: hidden;
}

.idol li{
    float: left;
    list-style: none;
    width: 49%;
    margin-right: 2%;
}

.idol li:last-child{
    margin-right: 0;
}

.idol li img{ 
    width: 100%;
    height: auto;
}






.band{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; 
}

.band h2{
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.band h2 span{
    font-size: 35px;
    border-bottom: 2px solid #000;
}

.band h3{
    font-size: 25px;
    border-bottom: 2px solid #000;
}

.band p{
    font-size: 13px;
    color: dimgrey;
    letter-spacing: 1px;
}

.band ul{
    overflow: hidden;
}

.band li{
    float: left;
    list-style: none;
    width: 32%;
    margin-right: 2%;
}

.band li:last-child{
    margin-right: 0;
}

.band li img{ 
    width: 100%;
    height: auto;
}




.comedian{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; 
}

.comedian h2{
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.comedian h2 span{
    font-size: 35px;
    border-bottom: 2px solid #000;
}

.comedian h3{
    font-size: 25px;
    border-bottom: 2px solid #000;
}

.comedian p{
    font-size: 13px;
    color: dimgrey;
    letter-spacing: 1px;
}

.comedian ul{
    overflow: hidden;
}

.comedian li{
    float: left;
    list-style: none;
    width: 32%;
    margin-right: 2%;
}

.comedian li:last-child{
    margin-right: 0;
}

.comedian li img{ 
    width: 100%;
    height: auto;
}




.voice{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; 
}

.voice h2{
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.voice h2 span{
    font-size: 35px;
    border-bottom: 2px solid #000;
}

.voice h3{
    font-size: 25px;
    border-bottom: 2px solid #000;
}

.voice p{
    font-size: 13px;
    color: dimgrey;
    letter-spacing: 1px;
}

.voice ul{
    overflow: hidden;
}

.voice li{
    float: left;
    list-style: none;
    width: 32%;
    margin-right: 2%;
}

.voice li:last-child{
    margin-right: 0;
}

.voice li img{ 
    width: 100%;
    height: auto;
}




.news{
    width: 1000px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; 

}

.news h1{
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 1.2;
}

.news h1 span{
    margin-top: 2px;
    font-size: 45px;
}

.news table{
    width:100%;
}

.news th{
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    padding-top: 15px;
}

.news td{
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    padding-top: 15px;
}